html,body {
	font: normal 12px verdana;
	margin: 0;
	padding: 0;
	border: 0 none;
	height: 100%;
	background-color: #d2e0f2;
}


a {
	color: #000000;
	text-decoration: underline;
}
hr {
	color: #DFE8F6;
	border:1 dashed #DFE8F6
}

#north {
	background-color: #003399;
	border: 0 none;
	padding-top: 3px;
}

#north .office-title {
	font: normal 18px tahoma, arial, sans-serif;
	color: #ffffff;
	margin: 5px;
}

#north #top_bar {
	background-color: #DFE8F6;
	width: 100%;
	line-height: 25px;
	border-top: 2px solid #cFd8e6;
}

#loading-mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 20000;
	background-color: #ffffff;
}

#loading {
	position: absolute;
	left: 45%;
	top: 40%;
	padding: 2px;
	z-index: 20001;
	height: auto;
}

#loading .loading-indicator {
	background: #ffffff;
	color: #555;
	font: bold 13px tahoma, arial, helvetica;
	padding: 10px;
	margin: 0;
	text-align: center;
	height: auto;
}

.msg {
	position: absolute;
	left: 40%;
	top: 40%;
	padding: 2px;
	z-index: 20001;
	height: auto;
}

.clear {
	clear: both;
}

// ext patch for chinese
.x-window-footer {
	position: relative;
	top: 0;
	right: 0;
}

.x-tab-strip SPAN.x-tab-strip-text {
	font-size: 12px;
}

.x-panel-header {
	font-size: 12px;
}

.x-tree-node {
	font-size: 12px;
}

.x-grid3-hd-row TD {
	font-size: 12px;
}

.x-grid3-row TD {
	font-size: 12px;
	LINE-HEIGHT: 16px;
}

.x-tip .x-tip-bd {
	font-size: 12px;
}

.x-tip h3 {
	font-size: 12px;
}

.x-tip .x-tip-bd-inner {
	font-size: 12px;
}

.x-panel-tl .x-panel-header {
	FONT: normal 12px tahoma, arial, verdana, sans-serif;
}

.x-form-field {
	FONT: 12px tahoma, arial, helvetica, sans-serif
}

.x-small-editor .x-form-field {
	FONT: 12px tahoma, arial, helvetica, sans-serif
}

.x-combo-list-item {
	FONT: 12px tahoma, arial, helvetica, sans-serif;
}

.x-menu-list-item {
	FONT: 12px tahoma, arial, sans-serif;
}

.x-window-tl .x-window-header {
	FONT: bold 12px tahoma, arial, verdana, sans-serif;
}

.ext-ie .x-form-text {
	margin-top: 1px;
}  /* the textField missing bottom line */
.x-form-item {
	FONT: 12px tahoma, arial, helvetica, sans-serif
}

.x-grid-group-hd DIV {
	FONT: bold 12px tahoma, arial, helvetica, sans-serif;
}

.x-btn-text-icon .x-btn-center .x-btn-text {
	background-position: 0pt 2px;
	background-repeat: no-repeat;
	padding: 3px 0pt 2px 18px;
}

.ext-gecko .x-btn button {
	padding-left: 0pt;
	padding-right: 0pt;
}

.x-btn button {
	font-size: 12px;
}

.x-toolbar td,.x-toolbar span,.x-toolbar input,.x-toolbar div,.x-toolbar select,.x-toolbar label
	{
	font-size: 12px;
}

/********************************************/
.icon-home {
	background-image: url(../img/home.gif) !important;
}

.icon-act {
	background-image: url(../img/act.gif) !important;
}

/********************************************/
.nav {
	width: 100%;
	text-align: center;
}

.nav a {
	width: 100%;
	line-height: 30px;
	display: block;
	text-decoration: none;
	background-color: #ffffff;
	color: #000000;
}

.nav a:hover {
	background-color: #eeeeff;
}

.nav_selected {
	background-color: #eeeeff;
}

.toolbar_add {
	background-image: url(../img/add.gif) !important;
}
.toolbar_del {
	background-image: url(../img/delete.gif) !important;
}
.toolbar_search {
	background-image: url(../img/search.png) !important;
}
/***************************************************/
#office_default div {
	line-height: 25px;
}
#office_default_fast_link li {
	float: left;
	width: 210px;
}
#office_default_help_link li {
	float: left;
	width: 50%;
}