/* --------------- 中文显示字体问题 Ext CSS -------------- */
.x-tab-strip SPAN.x-tab-strip-text {font-size: 12px;}
.x-panel-header {font-size: 12px;}
.x-tree-node {font-size: 12px;}
.x-grid3-hd-row TD {font-size: 12px;}
.x-grid3-row TD {font-size: 12px;LINE-HEIGHT: 16px;}
.x-tip .x-tip-bd {font-size: 12px;}
.x-tip h3{font-size: 12px;}
.x-tip .x-tip-bd-inner{font-size:12px;}
.x-panel-tl .x-panel-header {FONT: normal 12px tahoma,arial,verdana,sans-serif;}
.x-form-field {FONT: 12px tahoma,arial,helvetica,sans-serif}
.x-small-editor .x-form-field {FONT: 12px tahoma,arial,helvetica,sans-serif}
.x-combo-list-item {FONT: 12px tahoma,arial,helvetica,sans-serif;}
.x-menu-list-item {FONT: 12px tahoma,arial,sans-serif;}
.x-window-tl .x-window-header {FONT: bold 12px tahoma,arial,verdana,sans-serif;}
.x-form-item {FONT: 12px tahoma,arial,helvetica,sans-serif}
.x-grid-group-hd DIV {FONT: bold 12px tahoma,arial,helvetica,sans-serif;}
.x-btn button{font-size:12px;}
.x-toolbar td, .x-toolbar span, .x-toolbar input, .x-toolbar div, .x-toolbar select, .x-toolbar label {font-size:12px;}
.passCls{font-size:24px;}
/*---------- grid可选 ---------*/
.x-selectable, .x-selectable * {-moz-user-select: text!important;-khtml-user-select: text!important;}
/* 按钮图标 */
.btnImgDownload_5	{background-image: url(images/download_5.png) !important;background-repeat:no-repeat;}
.btnImgSearch_5		{background-image: url(images/search_5.gif) !important;background-repeat:no-repeat;}
.btnImgDebug_5		{background-image: url(images/debug_5.gif) !important;background-repeat:no-repeat;}
.btnImgChart_5		{background-image: url(images/chart_5.gif) !important;background-repeat:no-repeat;}
.btnImgDel_5		{background-image: url(images/del_5.gif) !important;background-repeat:no-repeat;}
.btnImgBan_5		{background-image: url(images/ban_5.gif) !important;background-repeat:no-repeat;}
.btnImgLeave_5		{background-image: url(images/leave_5.gif) !important;background-repeat:no-repeat;}
.btnImgMail_5		{background-image: url(images/mail_5.gif) !important;background-repeat:no-repeat;}
.btnImgSendMail_5	{background-image: url(images/send_mail_5.gif) !important;background-repeat:no-repeat;}
.btnImgDanger_5		{background-image: url(images/danger_5.gif) !important;background-repeat:no-repeat;}
.btnImgDanger_3		{background-image: url(images/danger_3.gif) !important;background-repeat:no-repeat;}
.btnImgWarning_5	{background-image: url(images/warning_5.gif) !important;background-repeat:no-repeat;}
.btnImgLock_5		{background-image: url(images/lock_5.gif) !important;background-repeat:no-repeat;}
.btnImgMobile_5		{background-image: url(images/mobile_5.gif) !important;background-repeat:no-repeat;}
.btnImgError_3		{background-image: url(images/error_3.gif) !important;background-repeat:no-repeat;}
.btnImgInfo_3		{background-image: url(images/info_3.gif) !important;background-repeat:no-repeat;}
.btnImgQuestion_3	{background-image: url(images/question_3.gif) !important;background-repeat:no-repeat;}
.btnImgPrint_5		{background-image: url(images/print_5.gif) !important;background-repeat:no-repeat;}
.btnImgPhone_5		{background-image: url(images/phone_5.gif) !important;background-repeat:no-repeat;}
.btnImgAdd_5		{background-image: url(images/add_5.gif) !important;background-repeat:no-repeat;}
.btnImgRight_5		{background-image: url(images/right_5.gif) !important;background-repeat:no-repeat;}
.btnImgLoading_5	{background-image: url(images/loading_5.gif) !important;background-repeat:no-repeat;}
.btnImgRefresh_5	{background-image: url(images/refresh_5.gif) !important;background-repeat:no-repeat;}
.btnImgModify_5		{background-image: url(images/modify_5.gif) !important;background-repeat:no-repeat;}
.btnImgList_5		{background-image: url(images/list_5.gif) !important;background-repeat:no-repeat;}
.btnImgOffLine_5	{background-image: url(images/offline_5.gif) !important;background-repeat:no-repeat;}
.btnImgConfig_5		{background-image: url(images/config_5.gif) !important;background-repeat:no-repeat;}
.btnImgUpStep_5		{background-image: url(images/up-step_5.png) !important;background-repeat:no-repeat;}
.btnImgDownStep_5	{background-image: url(images/down-step_5.png) !important;background-repeat:no-repeat;}
.btnImEpiphany_2	{background-image: url(images/epiphany_2.png) !important;background-repeat:no-repeat;width:64px !important;height:90px !important;padding-top:70px !important;}
